* {
    /* background-color: black; */
    /* color: black; */
    font-family: Josefin Sans, Tahoma, sans-serif;
}

#randomCountry {
    font-size: 150px;
    text-align: center;
    font-weight: 300;
    color: white;
    text-shadow: 5px 5px 5px black;
}

body {
    background-image: url("switzerland.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
}