* {
    background-color: black;
    color: white;
    font-family: Josefin Sans, Tahoma, sans-serif;
}

#title {
    font-size: 10vw;
    font-weight: 300;
}

#goButton {
    font-size: 3vw;
    padding: 1%;
}

#goButton:hover {
    color: green;
}