* {
    /* background-color: black; */
    /* color: black; */
    font-family: Josefin Sans, Tahoma, sans-serif;
}

#title {
    font-size: 150px;
    text-align: center;
    font-weight: 300;
    color: white;
    text-shadow: 5px 5px 5px black;
    /* margin-top: 15%; */
}

#background-vid {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#selectRegion {
    font-size: 4vw;
    padding: 7px;
    /* font-weight: 300; */
    border-radius: 40px;
    border: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.regionOptions {
    font-size: 4vw;
}

#surpriseButton {
    font-size: 4vw;
    padding: 10px;
    border-radius: 40px;
    border: none;
}

#surpriseButton:hover {
    background: linear-gradient(to right, red,yellow,rgb(0, 250, 0),rgb(75, 75, 225),rgb(72, 0, 80));
    color: black; 
}

#goButton {
    font-size: 4vw;
    padding: 10px;
    border-radius: 40px;
    border: none;
}

#goButton:hover {
    background: linear-gradient(to right, #00ff00, rgb(116, 255, 116),rgb(179, 255, 179));
    color: black;
}

#countryName {
    margin: auto;
}

#countryNameText {
    font-size: 4vw;
    color: white;
    background-color: black;
}

/* Country.html CSS */

#randomCountry {
    font-size: 150px;
    text-align: center;
    font-weight: 300;
    color: white;
    text-shadow: 5px 5px 5px black;
}